body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cecece;
}

header {
    background-color: #00c8ff;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3b3b3b;
    color: white;
}
